* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.aside,
.header input,
.checkout {
  display: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.cart {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.cart-products-wrapper {
  padding: 1em;
  display: flex;
  gap: .75em;
  flex-direction: column;
}

.products-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-bottom {
  display: flex;
  gap: 1em;
}

.cart-btn-back {
  background: none;
  border: none;
}

.cart-products {
  width: 50%;
  background-color: rgb(236, 236, 236);
}

.price-cont {
  width: 17%;
  background-color: antiquewhite;
  padding: 1em;
}

.order-cont {
  display: flex;
  flex-direction: column;
}

.order-cont-span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero img {
  margin: 0 auto;
  height: 65dvh;
  max-width: 100dvw;
}

.main-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.aside {
  border: 1px solid black;
}

.main {
  flex-grow: 1;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  border: 1px solid black;
}

.product-picture {
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer {
  border: 1px solid black;
}

.footer,
.footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 768px) {
  .hero img {
    height: 50dvh;
  }

  .aside {
    width: 10dvw;
    display: flex;
    flex-direction: column;
  }

  .nav,
  .header input,
  .checkout {
    display: flex;
  }

  .footer,
  .footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
